pandas
numpy
matplotlib
seaborn
scikit-learn
nltk
pyparsing==2.4.7
Jinja2==2.10.1
opencv-python
scikit-build
PILLOW
scikit-image
grpcio==1.36.0
protobuf==3.19.4
keras==2.3.0
tensorflow==2.0
easygui
beautifulsoup4